<div class="container">
  <div class="chat-window">
    <div class="chat-window-header">
      <button class="clear" (click)="clearChat()">
        Clear
      </button>
    </div>
    <div class="chat-window-body">
      <ng-container *ngFor="let chat of chats">
        <app-chat [text]="chat.text" [isAssistant]="chat.isAssistant"></app-chat>
      </ng-container>
    </div>

    <div *ngIf="chatLoading">
      <div style="display:inline-block; font-style: italic;margin-inline-start: 1rem;
      margin-block: 0.3rem;">Assisting Writing</div><app-loader></app-loader>
    </div>
    <div class="chat-window-input">
      <input type="text" [value] ="inputQuery" (change)="addInputQuery($event)" [disabled] = "chatLoading"/>
      <div class="send">
        <button (click)="sendQuery()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
